#Eclipse related
.cproject
.project
.dep/
.settings/
*.xml
.metadata/
core
makefile

# temp files
~

#object files and build files
*.o
*.obj
*.axf
*.map
*.ld
*.mk
*.d
*.a

*/.metadata
*/*/Debug
Packages
sources/DSO-138_Mod
docs

